li, .content {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; color: #000000}
.imgdesc {  font: normal x-small Verdana, Arial, Helvetica, sans-serif; color:#000099}
.source {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333366}
h1{  font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; color: #990000}
h2{  font-family:   Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; color: #000066}
.enbbaslik {  font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: large; font-weight: bold; color: #990000}
.baslik  { font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: bold; color: #990000} 
.altbaslik  { font-family:   Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; color: #000099} 
.yonelt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; color: #CC6600}
.kucuk {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FF0000}
.sekil{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #3300FF}